@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// Vars
$borderRadius: 0.4rem;
$fontFamily: "Roboto", "sans-serif";

// DARKS
$dark1: #363940;
$dark2: #303136;
$dark3: #23272a;
$dark4: #212226;

// COLORS
$primary: #6b4aed;
$primaryGradient: linear-gradient(90deg, #6b4aed 0%, #8e58ff 100%);
$white: #fefeff;
$gray: #8c8c96;
$light: #71767c;
$blue: #2a5dea;
$error: #fa474c;
$success: #43b581;
$warning: #f2b139;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;

  ::selection {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 6px;
    background: $dark4;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $dark1;
  }

  audio {
    display: none;
  }

  input,
  textarea,
  * {
    font-family: $fontFamily;
  }

  body {
    overflow: hidden;
  }

  body,
  html,
  main {
    background: $primaryGradient;
    height: 100vh;
    width: 100vw;
    color: $white;
    overflow: auto;
  }

  ul {
    list-style: none;
  }

  p {
    line-height: 1.5rem;
  }

  // Titles
  h1,
  h2,
  h3,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 52px;
    line-height: 50px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  // Inputs
  textarea,
  input {
    padding: 1rem 1.5rem;
    border-radius: $borderRadius;
    border: 2px solid $dark4;
    color: $gray;
    background: transparent;
    width: 100%;
  }

  textarea:hover,
  input:hover {
    border-color: $dark2;
  }

  textarea:focus,
  input:focus {
    color: $white;
    border-color: $dark1;
  }

  input[type="color"] {
    padding: 0;
    border: none;
    width: 4rem;
    height: 3.7rem;
  }

  // Buttons
  .btn {
    padding: 0.6rem 2rem;
    border-radius: $borderRadius;
    border: none;
    background: $dark4;
    color: $white;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .btn-icon {
    padding: 0.4rem 0.5rem;
  }

  .btn.btn-with-icon > i.fa {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: -2px;
  }

  .btn-primary {
    background: #8e58ff;
  }
  .btn-primary:hover {
    box-shadow: 0 0 0 5px rgba(107, 74, 237, 0.15);
  }

  .btn-success {
    background: $success;
  }
  .btn-success:hover {
    box-shadow: 0 0 0 5px rgba(67, 181, 129, 0.15);
  }

  .btn-error {
    background: $error;
  }
  .btn-error:hover {
    box-shadow: 0 0 0 5px rgba(250, 71, 76, 0.15);
  }

  .btn-warning {
    background: $warning;
  }
  .btn-warning:hover {
    box-shadow: 0 0 0 5px rgba(242, 177, 57, 0.15);
  }

  .btn-gray {
    background: $dark1;
  }
  .btn-gray:hover {
    box-shadow: 0 0 0 5px rgba(54, 57, 64, 0.25);
  }

  .btn-secondary {
    background: $white;
    color: $dark4;
  }
  .btn-secondary:hover {
    box-shadow: 0 0 0 5px rgba(254, 254, 255, 0.15);
  }

  // Modal
  div.overlay {
    background: rgba(33, 34, 38, 0.6);
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  div.overlay.close {
    display: none;
  }

  div.modal.close {
    display: none;
  }

  div.modal {
    max-width: 500px;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: $borderRadius;
    background: $dark1;
    position: absolute;
    margin: 0 auto;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
    transform: scale(0);
  }

  div.modal h2 {
    color: $dark3;
  }

  div.modal img {
    margin-bottom: 10px;
  }

  div.modal button {
    padding: 1rem 2rem;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  div.modal.congratulations {
    background: $success;
    color: $dark3;
  }

  div.modal.back-to-work {
    max-width: 580px;
    background: $warning;
    color: $white !important;
  }

  div.modal.open {
    animation: openModal 0.2s forwards;
  }

  @keyframes openModal {
    to {
      transform: initial;
    }
  }

  div.modal p {
    padding: 20px 0 30px 0;
    color: $dark1;
  }
}

// App
main {
  padding-top: 3rem;

  section.container {
    max-width: 1780px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
    border-radius: $borderRadius;
    background: $dark3;
    height: 90vh;
    overflow: hidden;
  }

  section.container div.side {
    height: 100%;
  }

  section.container div.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.container div.timer {
    border-left: 2px solid $dark4;
  }

  section.container div.timer div.timer-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 20px solid $dark4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.04);
  }

  section.container div.timer h1 span {
    font-size: 52px;
  }

  section.container div.timer div.container-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  section.container div.timer div.container-buttons button {
    margin: 0 20px;
    padding: 1rem 4rem;
  }

  // ToDo's
  div.tasks-container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  div.tasks-container form {
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid $dark4;
    width: 100%;
  }

  div.tasks-container form strong {
    display: block;
    padding: 8px 3px;
    color: #cccccc;
  }

  div.tasks-container form div.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  div.tasks-container form div.input-group input[type="color"] {
    margin-left: 10px;
  }

  div.tasks-container form button {
    margin-top: 10px;
  }

  div.tasks-container div.indicator-container {
    padding: 0 0 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
  }

  div.tasks-container div.indicator-container button {
    margin-left: 1rem;
  }

  div.tasks-container div.indicator-container h5 {
    background: $dark4;
    padding: 0.4rem 0.8rem;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  div.tasks-container div.indicator-container span {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  div.tasks-container div.indicator-container span i {
    color: $success;
    margin-right: 0.7rem;
  }

  div.tasks-container ul {
    min-height: 50vh;
    max-height: 50vh;
    overflow: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  div.tasks-container ul li:nth-child(odd) {
    background: $dark4;
  }

  div.tasks-container ul li {
    padding: 20px;
    border-radius: $borderRadius;
    position: relative;
    margin-bottom: 5px;
    border: 2px solid $dark4;
    min-width: 100%;
  }

  div.tasks-container ul li div.completed-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 34, 38, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
  }

  div.tasks-container ul li div.completed-overlay h6 i {
    margin-right: 10px;
    color: $success;
  }

  div.tasks-container ul li div.completed-overlay h6 {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  div.tasks-container ul li button {
    margin: 8px 5px 0 10px;
  }

  div.tasks-container ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  div.tasks-container ul li strong {
    display: block;
    padding: 5px 0;
    margin-left: 10px;
  }

  div.tasks-container ul li p {
    font-size: 14px;
    color: $light;
    line-height: 1.3rem;
    padding-right: 2rem;
    margin-left: 10px;
  }

  div.tasks-container ul li span {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    bottom: 0.5rem;
    width: 5px;
    border-radius: $borderRadius;
    background: $primaryGradient;
  }

  @media only screen and (max-width: 1800px) {
    section.container {
      margin: 0 2rem;
    }
  }
  @media only screen and (max-width: 1100px) {
    padding-top: 2rem;

    section.container {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      padding-top: 50px;
      margin-bottom: 2rem;
    }

    section.container div.tasks-container ul {
      min-height: 30vh !important;
      max-height: 30vh !important;
    }

    section.container div.timer div.timer-container {
      width: 220px;
      height: 220px;
      margin-bottom: 50px;
    }

    section.container div.timer div.container-buttons button {
      padding: 0.7rem 2rem;
    }

    section.container div.timer div.timer-container h1 span,
    section.container div.timer div.timer-container h1 {
      font-size: 30px !important;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-top: 1rem;

    section.container div.timer div.container-buttons button {
      margin: 0 5px;
      padding: 0.5rem 1.5rem;
    }

    section.container {
      margin: 0 auto;
      max-width: 95%;
      margin-bottom: 1rem;
    }
  }
}
